.image-block {
  margin-bottom: 2rem;
  height: 20rem;
  display: flex;
  justify-content: center;
}

.company-image {
  width: 80%;
}

@media (max-width: 600px) {
  .image-block {
    height: 10rem !important;
    margin-bottom: 1rem;
  }

  .company-image {
    width: 80%;
  }
}

@media (max-width: 987px) {
  .image-block {
    height: 15rem;
  }
}
