.first-section .title {
  font-size: 36px;
  padding: 0 2rem;
}

.apply-btn {
  all: unset;
  background: linear-gradient(
    180deg,
    #683fdb 0%,
    #653cee 32.76%,
    #57b3f7 100.08%
  );

  padding: 1.5rem 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: 18px;
}

.apply-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-section .subtitle {
  margin-bottom: 3rem;
  font-weight: 600;
}

.first-section .yellow-button {
  width: 8.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
}
