/* .section-3-block { */
    /* padding-right: 0; */
/* } */
.section-3-image {
    width: 250%;
    margin-right: -3rem;
}
.section-3-image img {
    width: 100%;
    /* right: 0; */
}
.section-3-block h3 {
    padding-bottom: 1rem;
}
.section-3-block button {
    margin-top: 1rem;
}
.section-3-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 992px) {
    /* .content { */
        /* position: relative; */
    /* } */
    .section-3-small-image {
        margin-left: -3rem;
        width: calc(100% + 6rem);
        padding: 3rem 0;
    }
    .section-3-block h3 {
        padding-bottom: 0;
    }
    
}